body {
    background: green;
}

.meteo {
    height: 200px;
    overflow: hidden;
}

.page_nav ul{
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
    & li {
        list-style: none;
    }
}

footer {
    margin-top: 2rem;
    background: grey;
    justify-content: center;
    display: flex;
}